.feynman__subtitle {
   /*убраны лишние внешние отступы*/
    margin: 70px 0 0;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: relative;
    text-align: center;
  }