.header__title {
  /* 3 обнулены внешние отступы*/
    margin: 0 0 0 64px;
    width: 100%;
    max-width: 730px;
    align-self: center;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
  }